@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: calc(10px + 2vmin);
}
body {
  margin: auto;
}
img {
  height: calc(19px + 2vmin);
  width: auto;
  margin: 30px 30px;
}
.App {
  display: flex;
  flex-flow: column;
  border: 1px solid rgba(102, 100, 100, 0.418);
}
.container {
  /* margin: calc(10px + 1vw) calc(20px + 1vw); */
  text-align: left;
  display: flex;
  flex-flow: row;
}

.header-pointing-menu {
  display: flex;
  flex-flow: column;
  /* justify-content: space-around; */
  width: calc(89px + 2vmin);
  height: 100vh;
  border-right: 1px solid rgba(151, 146, 146, 0.753);
  padding: calc(10px + 1vw) calc(20px + 1vw);
  margin-bottom: calc(4px + 1vmin);
  /* background-color: rgb(151, 69, 206); */
}

.container-body {
  display: flex;
  flex-flow: row;
  padding: calc(5px + 1vw) calc(20px + 1vw);
}

a {
  text-decoration: none;
}

h4 {
  border-bottom: 1px solid rgba(180, 168, 168, 0.897);
  width: 100vw;
}
